p {
    font-style: italic;
}
div, p, span{ font-size: 12pt;}


span{
    background-color: wheat;
    font-weight: bold;
}

.center {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    list-style-position: inside;
}